@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
:root {
    --color-black: #111;
}

.online_mode {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    display: block;
    padding-bottom: 100px;
}

.online_mode span {
    font-size: 22px;
    border-bottom: 1px solid var(--color-black);
}

.course_container {
    width: 100%;
}

.container {
    width: 100%;
}


/* .online {
    opacity: 0.2;
    filter: blur(25px);
} */

.online,
.offline {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.button-redirect {
    width: 300px !important;
    color: #111 !important;
}

img {
    width: 200px;
}

.course_name {
    font-size: 18px;
    font-weight: bold;
}

.crypto,
.canva_SMmarketing,
.graphic_design,
.acting,
.yoga,
.resin_art,
.canvas_paint,
.calligraphy,
.cooking {
    text-align: left;
    border-left: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    box-shadow: 5px 5px 10px;
    margin: 20px 20px;
}

.crypto:hover,
.canva_SMmarketing:hover,
.graphic_design:hover,
.acting:hover,
.yoga:hover,
.resin_art:hover,
.canvas_paint:hover,
.calligraphy:hover,
.cooking:hover {
    box-shadow: 15px 15px 20px;
}

hr {
    margin: 5% 0;
}

p {
    padding: 0 5px;
}