#main {
    
}

#temp {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-image: linear-gradient( rgb(255, 102, 0) , rgb(41, 41, 62));
}

#comingsoon {
    letter-spacing: 30px;
    font-weight: 700;
    margin: 0;
    padding-top: 10%;
}

hr {
    width: 35%;
    margin: 2% auto !important;
    border: 1px solid;
}

h4 {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 10px;
    margin: 0;
}

.main-title {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: -100px;
}

.con1 {
    background-color: #9d394b;
    width: 90%;
    margin: 52px;
    display: grid;
    grid-template-columns: 400px auto;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 6px 6px 10px 3px grey;
}

.img1 {
    /* background-image: url(../src/image/discord.png); */
    /* height: auto; */
    padding: 0;
    border-radius: 20px;
}

.img1:hover {
    transform: scale(1);
}

.text1 p a {
    padding: 0;
}

.text1 a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.text1 p {
    color: white;
    font-size: 20px;
    margin: 0 8%;
}

#chip {
    background-color: #fd8a43;
    font-size: small;
}

.con2 {
    background-color: #9da3a4;
    width: 90%;
    margin: 150px 0 0 50px;
    display: grid;
    grid-template-columns: auto 300px;
    border-radius: 10px;
    padding: 80px 20px;
    box-shadow: 6px 6px 10px 3px grey;
}

.text2 h1 p {
    padding: 60px;
}

.con3 {
    background-color: #604d53;
    width: 90%;
    margin: 150px 0 0 50px;
    border-radius: 10px;
    grid-template-columns: auto 300px;
    padding: 80px 20px;
    box-shadow: 6px 6px 10px 3px grey;
}

.img3 {
    display: flex;
}

.img31 {
    padding: 0 20px;
    border-radius: 30px;
}

.con4 {
    background-color: #db7f8e;
    width: 90%;
    margin: 150px 0 0 50px;
    display: grid;
    grid-template-columns: 700px auto;
    border-radius: 10px;
    padding: 80px 0;
    box-shadow: 6px 6px 10px 3px grey;
}

.img4 {
    /* background-image: url(../src/image/piggy.jpg); */
    width: 300px;
}

@media screen and (max-width: 400px) {

    #comingsoon {
        font-size: 24px;
        margin-left: 5%;
        padding-top: 15%;
        margin-bottom: 8%;
    }

    hr {
        width: 60%;
    }

    h4 {
        font-size: 20px;
        margin-top: 8%;
    }
}